<!--
 - @author Anlibraly
 - @class  测评页面
 - time 2015-12-15
 -->
<!DOCTYPE html>
<html ng-app="myQues">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/style.css" />
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/doT.min.js"></script>
		<script src="controll/config.web.js"></script>
		<script src="controll/videodata.js"></script>
		<script src="controll/question.js"></script>
		<title>丽星</title>
		<meta name="keywords" content="自闭症,孤独症,星星的孩子,自闭症社区,自闭症治疗" />
		<meta name="description" content="自闭症检测，自闭症测试" />
		<meta name="author" content="丽星" />
		<link rel="stylesheet" href="css/asdtest.css" />
	</head>
	<body ng-controller="quesList">
<!-- 		<div class="nav">
			<a href="./" id="top_logo"><img src="img/logo.png" title="丽星" alt="logo"/></a>
			<ul>
				<!--<li><a href="video_publicity.html">宣传片</a></li> 
				<li><a href="lx_assessment.html">自我评估</a></li>
				<li><a href="./postList.action?sortType=0&pageNum=1">新闻资讯</a></li>
				<li><a href="http://120.55.64.82/wecenter/" target="_blank">丽星社区</a></li>
				<li><a href="about_us.html">关于我们</a></li>
			</ul>
		</div> -->
		<!--头部end-->
		<div class="wrap">
			<div class="content">
				<div class="crumb"></div>
				<div style="background: #FFFFFF;">
				<div class="test_info">
					<h1>孤独症筛查</h1>
					<p id="total_num" ng-if="totalmons<=30&&totalmons>0">共{{questions.length}}个问题<span>541</span>个人测试过</p>
					<p id="total_num1" ng-if="totalmons==0"><span>541</span>个人测试过</p>
					<p>孤独症只能在早期干预，调查显示，家长很难在孩子3岁前发现异常。一旦耽搁，就是耽误一辈子。现在花5分钟做一个快速测试，初步判断孩子是否有患孤独症。</p>
				</div>
				<hr style="margin: 0 100px;opacity: 0.2;"/>
				<div age>
					<div id="ages">
						<span>请输入孩子的年龄</span>
						<input type="number" name="years" ng-model="years"/>岁
						<input type="number" name="mons" ng-model="mons"/>个月
					</div>
					<hr style="margin: 0 100px;opacity: 0.2;"/>
					<div class="okay">
						<input class="diycolor" type="button" value="确定" okay/>
					</div>					
				</div>
				<div ques>
					<div class="test_content">
						<h3>{{questions[num].ser}}.{{questions[num].desc}}</h3>
						<div class="radio_div">
							<input id="radio_1" name="choice" type="radio" v="1" myradioweb/>
							<label for="radio_1"><span>是</span></label>
						</div>

						<div class="radio_div">
							<input id="radio_2" name="choice" type="radio" v="-1" myradioweb/>
							<label for="radio_2"><span>否</span></label>
						</div>
					</div>
					<div class="pre_next">
						<input class="diycolor" type="button" value="上一题" prepage/>
						<input class="diycolor" type="button" value="下一题" nextpage/>
					</div>
				</div>
				<div class="spinner" style="display: none;" loading>
				  <div class="bounce1"></div>
				  <div class="bounce2"></div>
				  <div class="bounce3"></div>
				</div>
				<div id="result" result>
					<div ng-if="score<3">
						<div class="title">
							<img src="css/img/result.png"/>
							<span>您的孩子看起来不错</span>
						</div>
						<p>
							孩子目前没有表现出明显的孤独症症状，但是通常在2~3岁时才能确诊。
							<br />
							您可以每隔一段时间来排查一次。
							<br />
							您也可以预订免费提醒，我们会在合适的时间通知到您。
						</p>
						<div class="over">
							<input class="diycolor" type="button" value="点此预定" noasd/>
						</div>
					</div>
					<div ng-if="score>2">
						<div class="title">
							<img src="css/img/result.png"/>
							<span>您的孩子情况不太好</span>
						</div>
						<p>您的孩子可能患有孤独症，建议您联系专家诊断，以获得更全面准确的评估报告。</p>
						<div class="over">
							<input class="diycolor" type="button" value="立即约见" asdwarn/>
						</div>
					</div>

					<script id="videos-template" type="text/x-dot-template">
						<div class="special_count">有异常项<span>{{=it.length}}</span></div>
							<ul>
							{{ for(var i in it) { }}
								<li>
									{{=it[i].ser}}.{{=it[i].desc}}
									<input type="button" value="视频示例" onclick="showVideo('{{=it[i].ser}}')"/>
									<span>
										{{ if(it[i].type==1) { }}
											是
										{{ }else{ }}
											否
										{{ } }}
									</span>
									<div id="videos_{{=it[i].ser}}" class="videos" style="display:none;">
										<div class="video">
										{{ if(it[i].videos[0]!='xxx.flv') { }}
											<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="100%" height="300">
												<param name="movie" value="http://7xq7m2.com1.z0.glb.clouddn.com/flvplayer.swf"/>
												<param name="quality" value="high"/>
												<param name="TextColor " value="#4ED424"/>
												<param name="LogoText" value="正常示例"/>
												<param name="allowFullScreen" value="true" />
												<param name="FlashVars" value="vcastr_file=http://7xq7m2.com1.z0.glb.clouddn.com/{{=it[i].videos[0]}}" />
												<embed src="http://7xq7m2.com1.z0.glb.clouddn.com/flvplayer.swf" allowFullScreen="true" FlashVars="vcastr_file=http://7xq7m2.com1.z0.glb.clouddn.com/{{=it[i].videos[0]}}" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="100%" height="300"></embed>
											</object>
											<div class="desc">正常示例</div>
										{{ }else{ }}
											<div class="desc">暂时没有对应的正常示例</div>
										{{ } }}
										</div>
										<div class="video">
										{{ if(it[i].videos[1]!='xxx.flv') { }}
											<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="100%" height="300">
												<param name="movie" value="http://7xq7m2.com1.z0.glb.clouddn.com/flvplayer.swf"/>
												<param name="quality" value="high"/>
												<param name="TextColor " value="#D42424"/>
												<param name="LogoText" value="有风险示例"/>
												<param name="allowFullScreen" value="true" />
												<param name="FlashVars" value="vcastr_file=http://7xq7m2.com1.z0.glb.clouddn.com/{{=it[i].videos[1]}}" />
												<embed src="http://7xq7m2.com1.z0.glb.clouddn.com/flvplayer.swf" allowFullScreen="true" FlashVars="vcastr_file=http://7xq7m2.com1.z0.glb.clouddn.com/{{=it[i].videos[1]}}" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="100%" height="300"></embed>
											</object>
											<div class="desc">风险示例</div>
										{{ }else{ }}
											<div class="desc">暂时没有对应的风险示例</div>
										{{ } }}
										</div>	
									</div>
								</li>
								{{ } }}							
							</ul>
					</script>

					<div id="report" report>
						<h1>筛查报告</h1>
						<div id="special_list">
						</div>

						<div id="nomal_list">
							<div class="nomal_count">无异常项<span>{{nomal.length}}</span></div>
							<ul ng-repeat="nml in nomal">
								<li>{{nml.ser}}.{{nml.desc}}<span>({{nml.type==1?'否':'是'}})</span></li>
							</ul>
						</div>
					</div>
				</div>	
			</div>
			</div>	
		</div>
	</body>
</html>